<header>
  <app-header></app-header>
</header>

<article class="container">
  <section class="form-entry">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter First name"
        #firstName
      />
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter Last name"
        #lastName
      />
    </div>
    <br />
    <button
      class="btn btn-success btn-sm"
      (click)="setEmployee(firstName.value, lastName.value)"
    >
      Update Employee
    </button>
  </section>

  <section class="employees">
    <app-employee
      [empData]="employeeData"
      (employeeReset)="resetEmployee($event)"
    ></app-employee>
  </section>
</article>

<footer>
  <app-footer></app-footer>
</footer>
